[Unit]
Description=tmux server
After=network-online.target

[Service]
Type=forking
ExecStart=__TMUXGO_TMUX__ new-session -d -s default
KillMode=process
Restart=on-failure
RestartSec=3
Environment=PATH=__TMUXGO_PATH__

[Install]
WantedBy=default.target
